@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

dd {
  height: 1.5em;
  margin: 0 0 0 30px;
}

dd.Information {
  color: green;
}

dd.Warning {
  color: #900;
}

div.linenumbers {
  background: transparent;
  border: 1px solid transparent;
  color: #555;
  cursor: default;
  font-family: \"Consolas\", \"Lucida Console\", Monaco, monospace;
  font-size: 12px;
  height: 340px;
  line-height: 18px;
  overflow: hidden;
  padding: 4px 8px 0 4px;
  position: absolute;
  text-align: right;
  white-space: pre;
  width: 20px;
  z-index: 2;
}

dl {
  cursor: pointer;
  padding-left: 0.5em;
}

dt {
  clear: both;
  color: green;
  float: left;
  font-weight: 700;
  height: 1.5em;
  margin: 0;
}

fieldset .contents {
  margin: 4px 10px 10px;
}

fieldset {
  padding: 0;
}

fieldset#cssinputbox .contents {
  margin: 0;
}

fieldset#messages div {
  height: 10em;
  overflow: auto;
}

fieldset#messages {
  background: #fff;
  padding: 0 0 0 1em;
}

fieldset,
div#instructions {
  -moz-border-radius-topleft: 6px;
  border-radius: 6px;
}

legend {
  background: #fff;
  background-image: url(images/faded.png);
  background-position: 0 9px;
  background-repeat: no-repeat;
  border: 1px solid gray;
  cursor: default;
  margin: 0 0 4px 10px;
  padding: 4px 12px 4px 10px;
}

textarea#cssinput {
  -moz-border-radius-topleft: 8px;
  background: #ffc;
  border-bottom: 1px solid #eee;
  border-color: #aaa;
  border-radius: 8px 0 0 0;
  border-right: none;
  border-width: 1px;
  color: #333;
  font-family: \"Consolas\", \"Lucida Console\", Monaco, monospace;
  font-size: 15px;
  height: 350px;
  line-height: 18px;
  margin: 0 0 0 34px;
  overflow-x: none;
  overflow-y: scroll;
  padding-bottom: 0;
  padding-left: 3px;
  resize: none;
  width: 540px;
}

.cssoutputmessages {
  border: 1px solid gray;
  height: 100px;
  margin: 8px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 500px;
}

.gobutton {
  height: 30px;
  margin-left: 20px;
  margin-top: 4px;
  width: 140px;
}

.messages {
  margin: 4px 0;
}

.noline {
  border-top: none;
}

.options .singleoption {
  float: left;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.options {
  border-bottom: 1px solid #eee;
  height: 24px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-top: 4px;
  width: 520px;
}

.spacer {
  border-top: 1px solid #ddd;
  height: 1px;
  margin: 8px 0 4px;
}

#cmd_download {
  margin-left: 20px;
}

#cssinputbox {
  border: 1px solid #aaa;
  float: left;
  height: 471px;
  margin: 10px 0 0;
  overflow: hidden;
  padding: 0;
  width: 600px;
}

#cssoutputbox {
  background: #cfc;
  float: none;
  height: 600px;
  margin-bottom: 10px;
  width: 530px;
}

#downloadexternalcss #urltoget {
  width: 280px;
}

#downloadexternalcss {
  height: 20px;
  padding: 0 0 4px 34px;
}

#gobutton2 {
  width: 100px;
}

#instructions h1 {
  font-size: 20px;
  margin: 4px;
}

#instructions h2 {
  font-size: 18px;
  margin: 4px;
}

#instructions li {
  font-size: 13px;
  margin-bottom: 2px;
}

#instructions p {
  font-size: 14px;
  margin: 4px 6px;
}

#instructions ul {
  margin-left: 0;
  margin-right: 2em;
}

#instructions {
  border: 1px solid #aaa;
  float: left;
  height: 450px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 11px;
  width: 400px;
}

#iosection {
  float: left;
  height: 1200px;
  margin: 0;
  padding-top: 0;
  width: 600px;
}

#messages {
  height: 15px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-top: 5px;
}

#optionsbox_complex select,
#optionsbox_simple select {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin-top: 4px;
  padding: 2px 0;
  width: 290px;
}

#optionsbox_complex {
  background: #eee;
  display: none;
  float: left;
  height: 500px;
  margin-right: 20px;
  width: 310px;
}

#optionsbox_simple {
  background: #eee;
  height: 250px;
  width: 500px;
}

#pagewrapper {
  height: 100%;
  margin: 0;
  min-width: 1018px;
  padding: 0;
}

#poweredbycawiacontainer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 0;
}

#topheader {
  background-color: #226aff;
  border-bottom: 3px solid #888;
  color: #ffc;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 44px;
  height: 48px;
  margin-bottom: 10px;
  padding: 12px;
  text-align: center;
  width: auto;
}
